.App {
    width: 820px;
    height: 625px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: .5px solid white;
    border-radius: 10px;
}

.game-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 775px;
  height: 515px;
  border: .5px solid gold;
  /* border-radius: 35px; */
}

.background {
  position: relative;
  width: 775px;
  height: 420px;
  overflow: hidden;
  /* background-color: green; */
  /* border: .5px solid magenta */
}

.background-strip {
  position: absolute;
  height: 420px;
  width: 1550px;
  background-image: url('../imgs/backgroundStrip.png');
  background-size: 100% 100%;
}

.foreground {
  position: relative;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; */
  height: 95px;
  width: 775px;
  /* background-color: darkslategrey; */
  /* border: 1px solid turquoise; */
  overflow: hidden;
}

.foreground-strip {
  position: absolute;
  height: 95px;
  width: 2325px;
  /* border: .5px solid green; */
  background-image: url('../imgs/foregroundStrip2.png');
  background-size: 100% 100%;
  
}

.square {
  position: absolute;
  left: 100px;
  width: 75px;
  height: 75px;
  /* border: .5px solid orange; */
  background-image: url('../imgs/SuperIsa.png');
  background-size: 100% 100%;
  /* border-radius: 50%; */
}

.jump-button {
  height: 75px;
  width: 775px;
  border: .5px solid red;
  border-radius: 35px;
}

.start-button {
  height: 25px;
  width: 75px;
  border: .5px solid blue;
  border-radius: 35px;
}